<!DOCTYPE html>
<html>
<head>
  <title>Calcinere</title>
  <meta charset="utf-8">
  <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
  <style> @-ms-viewport { width: device-width; } </style>
  <link rel="stylesheet" href="vendor/reset.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body class="multiple-scenes view-control-buttons">

<div id="root"></div>

<!-- Script originali necessari per Marzipano -->
<script src="vendor/screenfull.min.js"></script>
<script src="vendor/bowser.min.js"></script>
<script src="vendor/marzipano.js"></script>
<script src="data.js"></script>

</body>
</html>